.about{
    width: 80%;
    margin: auto;

}

.about h1{
    font-size: 50px;
    margin: 70px 0px;
    text-align: center;

}
.about p{
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
}
