.project {
    padding: 10px ;
}
.project h1 {
    text-align: center;
    margin: 20px 0 50px;
}
.project .container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.project .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 2px;
    width: 300px;

}
.project .card img {
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    object-fit: cover;
    border: 2px solid black;
}
.project .card .aboutProject{
    padding: 11px;
}
.project .card h2 {
    text-align: center;
    margin: 16px 0;
}
.project .card p {
    text-align: justify;
    color: #555;
}
.project .card .buttons{
    display: flex;
    justify-content: space-around;
    margin: 16px 0;
}
.project .card .buttons button{
    padding: 8px 26px;
    font-size: 17px;
    border: none;
    border-radius: 4px;
    background-color: #0070f3;
    color: white;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}